@import "tailwindcss";
body {
  background-color: lightgray;
}
.delete-btn.ant-btn {
  background: #f54900;
  color: #fff;
  border: none !important;
}
.delete-btn.ant-btn:hover {
  background: #f96719 !important;
  color: white !important;
}
.ant-skeleton{
  width: 100% !important;
}
.ant-skeleton-image{
  min-width: 100% !important;
}
